<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.redcross.openmapkit">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_omk_nobg_green"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MapActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tagswipe.TagSwipeActivity"
            android:label="@string/title_activity_tag_swipe"
            android:parentActivityName=".MapActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.redcross.openmapkit.MapActivity" />
        </activity>
        <activity
            android:name=".deployments.DeploymentsActivity"
            android:label="@string/title_activity_deployments"
            android:parentActivityName=".MapActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.redcross.openmapkit.MapActivity" />
        </activity>
        <activity
            android:name=".deployments.DeploymentDetailsActivity"
            android:label="@string/title_activity_deployment_details"
            android:parentActivityName=".deployments.DeploymentsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.redcross.openmapkit.deployments.DeploymentsActivity" />
        </activity>
        <activity android:name=".ZXingActivity"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
    </application>

</manifest>
